<%- layout('layout') -%>
<div id="signup">
<h1>Add a new Rigsketball 2013 Team:</h1>
<p>Enter your info, and you'll be able to select a date on the next page.</p>
<p>
NOTE: The slot you picked on the bracket sets your entire schedule for the tournament. Make sure that all the dates and times it places you in for the coming rounds can work for you and your bandmates because it'll be locked in once you complete this form. <br/>
This is all we need from you to get your band signed up for Rigsketball 2013!
<br/><br/>
-Some Guy
<p>
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/signup/submit?position=<%= bandNum %>&name='+$('#entry_383109263').val();}"></iframe>
<div class="ss-form"><form action="https://docs.google.com/forms/d/<%=signupFormId%>/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true">
<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_383109263"><div class="ss-q-title">Band Name:
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.383109263" value="" class="ss-q-short" id="entry_383109263" dir="auto" aria-required="true">
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1307405892"><div class="ss-q-title">Team Captain:
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">The dude or lady that is great about emailing, scheduling etc... Probably you since you're filling this out :)</div></label>
<input type="text" name="entry.1307405892" value="" class="ss-q-short" id="entry_1307405892" dir="auto" aria-required="true">
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1268985006"><div class="ss-q-title">We can have phone number?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Thanks babe.</div></label>
<input type="text" name="entry.1268985006" value="" class="ss-q-short" id="entry_1268985006" dir="auto" aria-required="true">
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_270608187"><div class="ss-q-title">We can have email address?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">You're so great.</div></label>
<input type="text" name="entry.270608187" value="" class="ss-q-short" id="entry_270608187" dir="auto" aria-required="true">
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1907320479"><div class="ss-q-title">Do you have a band photo?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">We're putting together a 2013 roster of all the bands that are playing. We'll be writing short blurbs, embedding your track from the comp, (if you're taking part in the comp) and a photo would be a great way to ice the cake! Please give us a link to the photo you'd like us to use:</div></label>
<input type="text" name="entry.1907320479" value="" class="ss-q-short" id="entry_1907320479" dir="auto" aria-required="true">
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2010125543"><div class="ss-q-title">How many people play in your band?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Please list all the folks that play in your band. (You'll need three band mates available for each of your scheduled matches but we'll be putting together a sub list of local music hang-arounds that you can coordinate with for any times/days that you need an extra ripper.)</div></label>
<textarea name="entry.2010125543" rows="8" cols="0" class="ss-q-long" id="entry_2010125543" dir="auto" aria-required="true"></textarea>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1214023399"><div class="ss-q-title">Would your band be down to play a Rigsketball showcase?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">We'll be throwing a couple of rad free shows again this year! (Bim will probably ask you about it anyway.)</div></label>
<div class="ss-printable-hint" aria-hidden="">Mark only one oval.</div>
<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1574211878" value="Heck yes!" id="group_1574211878_1" class="ss-q-radio" aria-label="Heck yes!"></span>
<span class="ss-choice-label">Heck yes!</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1574211878" value="Glob no!" id="group_1574211878_2" class="ss-q-radio" aria-label="Glob no!"></span>
<span class="ss-choice-label">Glob no!</span>
</label></li></ul></div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_597386218"><div class="ss-q-title">We're putting another comp together!
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Super stoked! This year's comp is being curated by Tender Loving Empire, so you click yes, Andrew of TLE will be contacting you about getting a track from you to put on the comp. As always, we won't be selling your music to anyone, this is about the music!</div></label>
<div class="ss-printable-hint" aria-hidden="">Mark only one oval.</div>
<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1637919202" value="Yes, we have a song for the comp!" id="group_1637919202_1" class="ss-q-radio" aria-label="Yes, we have a song for the comp!"></span>
<span class="ss-choice-label">Yes, we have a song for the comp!</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1637919202" value="We don't want to share our music." id="group_1637919202_2" class="ss-q-radio" aria-label="We don't want to share our music."></span>
<span class="ss-choice-label">We don't want to share our music.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1637919202" value="We don't have any recordings yet :(" id="group_1637919202_3" class="ss-q-radio" aria-label="We don't have any recordings yet :("></span>
<span class="ss-choice-label">We don't have any recordings yet :(</span>
</label></li></ul></div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit" id="ss-submit">
</div></div></form></div>


