html, body {
  overflow:hidden;
  width:100%;
  margin:0px;
}

body, input {
  font-size:12px;
  font-family:"existenceunicase_light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight:700;
  color:rgb(78, 80, 62);
}
#background {
  width:100%;
  height:100%;
  position:absolute;
}
a {
  color:rgb(71,71,71);
  text-decoration:none;
}
a:hover {
  color:black;
}
.userinfo {
  position:absolute;
  right:20px;
  top: -10px;
}
#content {
  position:relative;
  width: 90%;
  min-width:858px;
  height: 730px;
  z-index:0;
}
#signup {
  font-size:14px;
  text-align:center;
  font-family:Helvetica;
}
#signup ul {
 list-style-type:none;
}
#signup .ss-item {
  margin:20px;
}
#signup textarea {
  width:300px;
}
#signup input:not([type="radio"]) {
  width:300px;
  font-size:20px;
}
#signup .secret {
  display:none;
}
.secret {
  position:absolute;
  bottom:2px;
  right:2px;
}
.secret a {
  color:#000;
  text-decoration:none;
}
#brackets {
  margin:0px auto;
  width: 100%;
  position:absolute;
  background-image:url('/images/bigBg.png');
  background-position: center;
}
.bracket {
  float:left;
  clear:both;
  cursor:pointer;
}
.contender:nth-child(odd) {
  margin-bottom: 2px;
}
.contender a {
  text-decoration:none;
  color: rgb(60, 60, 34);
}
.contender a:hover {
  color:black;
}
.contender {
  background-color:#ccc;
  /*box-shadow: 0px 0px 5px 0px #999;*/
  line-height: 0px 0px 5px 0px rgb(153, 153, 153);
  border: 1px solid #999;
  padding:8px;
  width: 72px;
  height: 16px;
  text-align:center;
  position:relative;
  border-radius:2px;
}
.contender.second {

}
.contender .indicator {
  right: -38px;
  top: -19px;
  position: absolute;
  z-index:100;
  width:50px;
  height:44px;
  background:url('/images/ball.png');
  background-repeat:no-repeat;
}
.contender .winner {
  background:url('/images/fireball.png');
}
.contender .score {
  position:absolute;
  right: -98px;
  top:0px;
  font-weight:700;
  z-index:200;
  width:100px;
  text-align: left;
}
.contender .scorenum {
  width:20px;
}
.rightRounds {
  float:left;
}
.leftRounds {
  float:right;
  padding-right:10px;
}
.round {
  float:right;
  padding:8px;
}
.contender input {
  width:70px;
}
.bandName {
  height:20px;
}
.bracket {
  position:relative;
}
.round32 > .bracket {
  top: 10px;
  margin-bottom:20px;
}
.round16 > .bracket{
  top: 55px;
  margin-bottom:110px;
}
.round8 > .bracket {
  top:143px;
  margin-bottom: 286px;
}
.round4 > .bracket {
  top:320px;
  margin-bottom:640px;
}
.winnerRound, #brackets > .winner {
  position:absolute;
  width: 218px;
  margin-top: 220px;
  margin-left: -117px;
  left:50%;
}
#brackets > .winner {
  width: 143px;
  height:40px;
  margin-top: 94px;
  font-size:24px;
  padding:8px;
  text-align:center;
  margin-left: -82px;
}
.winnerRound .bracket {
  width:100%;
}
.winnerRound .bracket .contender {
  float: right;
  margin: 7px;
}
.round.left {
  float:left;
}

.savebutton {
  position:absolute;
  top:6px;
  left:90px;
  display:none;
}
.ss-item input {
  font-family : "Helvetica";
}

.overlay {
  z-index:200;
  position: absolute;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  border:5px solid rgba(200,200,200,0.5);
  width:320px;
  display:none;
}
.overlay .close {
  position:absolute;
  top:5px;
  right:5px;
  font-size:20px;
  color:#999;
}
.overlay .vs h5 {
  float:left;
  margin:5px;
}
.overlay .band1, .overlay .band2 {
  font-size:18px;
  width:130px;
  float:left;
  margin:0px;
}
.overlay .date {
  width: 90%;
  font-size:14px;
  margin:0px;
  padding: 5px 10px;
}
.overlay .date.editable, .overlay .location.editable {
  background-color:#fff;
}
.overlay .location {
  width: 90%;
  min-height:40px;
  font-size:14px;
  margin:0px;
  padding: 5px 10px;
}
.overlay .saveinfo {
  float:right;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
