html, body {
  overflow-y:hidden;
  width:100%;
  margin:0px;
}

body, input {
  font-size:12px;
  font-family:"existenceunicase_light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight:700;
  color:rgb(78, 80, 62);
}
#background {
  width:100%;
  height:100%;
  position:absolute;
  background-repeat:no-repeat;
  background-color: rgba(255,255,255,0.9);
}
a {
  color:rgb(71,71,71);
  text-decoration:none;
}
a:hover {
  color:black;
}
.userinfo {
  position:absolute;
  right:20px;
  top: -10px;
}
#signup {
  font-size:14px;
  text-align:center;
  font-family:Helvetica;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#signup iframe {
  margin-bottom: 200px;
}
#signup ul {
 list-style-type:none;
}
#signup .ss-item {
  margin:20px;
}
#signup textarea {
  width:300px;
}
#signup input:not([type="radio"]) {
  width:300px;
  font-size:20px;
}
#signup .secret {
  display:none;
}
.secret a {
  color:#000;
  text-decoration:none;
}

.rightRounds {
  float:left;
}
.leftRounds {
  float:right;
  padding-right:10px;
}
.round {
  float:right;
  padding:8px;
}
.contender input {
  width:70px;
}
.bandName {
  height:20px;
}
.bracket {
  position:relative;
}
.round32 > .bracket {
  top: 10px;
  margin-bottom:20px;
}
.round16 > .bracket{
  top: 55px;
  margin-bottom:110px;
}
.round8 > .bracket {
  top:143px;
  margin-bottom: 286px;
}
.round4 > .bracket {
  top:320px;
  margin-bottom:640px;
}
.winnerRound, #brackets > .winner {
  position:absolute;
  width: 218px;
  margin-top: 220px;
  margin-left: -117px;
  left:50%;
}
#brackets > .winner {
  width: 143px;
  height:40px;
  margin-top: 94px;
  font-size:24px;
  padding:8px;
  text-align:center;
  margin-left: -82px;
}
.winnerRound .bracket {
  width:100%;
}
.winnerRound .bracket .contender {
  float: right;
  margin: 7px;
}
.round.left {
  float:left;
}

.ss-item input {
  font-family : "Helvetica";
}

.overlay .close {
  position:absolute;
  top:5px;
  right:5px;
  font-size:20px;
  color:#999;
}
.overlay .vs h5 {
  float:left;
  margin:5px;
}
.overlay .band1, .overlay .band2 {
  font-size:18px;
  width:130px;
  float:left;
  margin:0px;
}
.overlay .date {
  width: 90%;
  font-size:14px;
  margin:0px;
  padding: 5px 10px;
}
.overlay .date.editable, .overlay .location.editable {
  background-color:#fff;
}
.overlay .location {
  width: 90%;
  min-height:40px;
  font-size:14px;
  margin:0px;
  padding: 5px 10px;
}
.overlay .saveinfo {
  float:right;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
